MONGODB_URI=mongodb+srv://bharathsaipulipati_db_user:<Your_Password>@roadraksha.p61urlt.mongodb.net/roadcare?appName=ROADRAKSHA

JWT_SECRET=***

PORT=5000

EMAIL_USER=<Your_Mail>
EMAIL_PASS=*****
AUTHORITY_EMAIL=bharatsaipulipati@zohomail.in

CLOUDINARY_CLOUD_NAME=<Your cloud name>
CLOUDINARY_API_KEY=<Your_API Key>
CLOUDINARY_API_SECRET=<Generate Yours>

GEMINI_API_KEY=paste_your_gemini_key_here
